{% extends "layouts/base.twig" %}

{% block content %}
    <form hx-put="/users/{{ query.getId }}">
        <div>
            <label>Name</label>
            <input type="text" name="name" value="{{ query.getName }}">
        </div>
        <button class="btn">Submit</button>
        <button class="btn" hx-get="/users/{{ query.getId }}">Cancel</button>
    </form>
{% endblock %}
