{% extends "layouts/base.twig" %}

{% block content %}
    <div>
        {% for user in users %}
            <div hx-target="this" hx-swap="outerHTML">
                <div><label>Name</label>: {{ user.getName }}</div>

                <button hx-delete="/users/{{ user.getId }}" hx-target="body">
                    Delete user
                </button>

                <button hx-get="/users/{{ user.getId }}/edit" class="btn btn-primary">
                    Click To Edit
                </button>
            </div>

        {% else %}
        <p>No users found.</p>
        {% endfor %}
    </div>
{% endblock %}
