{% extends "layouts/base.twig" %}

{% block content %}
    <div>
        {% for user in users %}
            <p>
                User {{user.getName}}
            </p>
            <div>
                <form method="POST" action="/users/{{user.getId}}">
                    <input type="hidden" name="_METHOD" value="DELETE" />
                    <input type="submit" value="DELETE">
                </form>
            </div>
        {% else %}
        <p>No users found.</p>
        {% endfor %}
    </div>
{% endblock %}